build/
lib/
bin/
TestResults/
debug/
release/
redist/
UpdateVersion/
obj
*.user
*.suo
*.sln.cache
*.dll
*.pdb
*.msi
*.resharper
*.resharper.user
*.gpState
*.swp
*.xsd.cs
*.odx.cs
*.btm.cs
*.btp.cs
*.scc
*.SsoConfig.config
*.SsoConfigEdit.config
*.ssoApplication.xml
*.PortBindings.xml
*.wxi
*.wixobj
sha.txt
describe.txt
tag.txt
version.txt
*.tmp
*.zip